<% provide :title, t(".title") %>
<div class="jumbotron home">
  <h1><%= t(".elearning") %></h1>
  <%= link_to t(".word_list"), "#", class: "btn btn-lg btn-success" %>
  <%= link_to t(".start_lessons"), excercises_path, class: "btn btn-lg btn-primary" %>
</div>
