section.list_exercise {
  margin-top: 10%;
  margin-bottom: 10%;
}
.new-excercise {
  margin-top: 5%;
  text-align: center;
}
.new_excercise {
    margin: 20px 0;
}
.lessons {
  width: 20%;
  height: 34px;
  margin-right: 10px;
}
.table-hover {
  margin-top: 2%;
}
input {
  width: 100%;
}
.list_excercise {
  margin: 5% 0;
}
.center h1 {
  text-align: center;
}
#submit-test-lesson {
  width: 10%;
  margin-left: 50%;
}
.create_btn {
  width: 12%;
}
.pag {
  text-align: center;
}
