@import 'bootstrap-sprockets';
@import 'bootstrap';

$black: #000;
$light_blue: #73b6e1;
$grey: #666;
$white: #FFF;
$light-grey: #ddd;
$grey2: #dbdbdb;
$light: #eeeeee;
$black2: #262626;
$grey3: #CCC;
$grey4: #777;

/*--account-starts--*/
.register {
  margin-top: 10%;
  margin-bottom: 10%;
}

.account{
  padding:6em 0px;
}
.account-left h3 {
  font-size: 1.7em;
  color: $light_blue;
  margin: 0 0 0 0;
  font-family: 'BreeSerif-Regular';
}
.account-top,.register-top{
  text-align:center;
}
.account-main,.register-main{
  margin-top:4%;
}
.account-bottom {
  width: 50%;
  margin-left: 25%;
  margin-top: 2.2em;
}
.account-left input[type="email"], .account-left input[type="text"], .account-left input[type="password"] {
  margin: 0px;
  color: $black;
  background: none;
  padding: 8px 10px;
  outline: none;
  border: 1px solid $black;
  font-family: 'Lato-Regular';
  font-size: 14px;
  margin-bottom:20px;
}
.address {
  margin-top: 10px;
}
.address.submit{
  text-align: center;
}
.submit{
  margin:0 0 0 1em;
}
.address a {
  font-size: 14px;
  color: $grey;
  font-weight: 500;
  font-family: 'Lato-Regular';
  margin-right: 20px;
}
.address input[type="submit"] {
  background: $light_blue;
  color: $white;
  font-size: 1em;
  padding: 0.5em 1.2em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-family: 'Lato-Regular';
}
.address input[type="submit"]:hover {
  background: $black;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.panel.panel-info.show {
  margin-top: 15%;
  margin-bottom: 15%;
}
table-user-information, tbody, tr {
  border-bottom: 1px solid $light-grey;
}
.account-box {
  width: 100px;
  float: left;
}
input#user_remember_me {
  width: 30px;
}
.section-link-regist {
  margin: 10px;
  font-size: 17px;
}
.account-gravatar {
  float: left;
  margin-right: 50px;
  display: block;
  .gravatar {
    border-radius: 50%;
  }
}
.account_link {
  background-color: transparent;
  border: 1px solid $grey2;
  color: $black2;
  width: 80px;
  padding: 5px;
  display: inherit;
  margin: 7px 20px;
  a {
    color: black;
  }
}
.account-name {
  display: inline-block;
  h1 {
    float: left;
  }
}
.account.show {
  margin-left: 35%;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
#follow_form {
  width: 80px;
  margin-left: 13%;
  margin-top: 15px;
}
.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid $light;
}
.row.folowing-user {
  margin: 30px;
}
.activity {
  border-bottom:  solid 1px $grey3;
  padding: 16px 0;
  em {
    color: $grey4;
    font-size: 12px;
    padding-left: 5px;
  }
}
